@charset "UTF-8";
@font-face {
  font-family: "arial";
  src: url("../fonts/arial.eot");
  src: local("☺"), url("../fonts/arial.woff") format("woff"), url("../fonts/arial.ttf") format("truetype"), url("../fonts/arial.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.eot");
  src: local("☺"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

span:hover {
  cursor: default;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
header {
  position: relative;
  background: #322723;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #322723 0%, #222021 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#322723", endColorstr="#222021",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__box_1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
  margin: 0 0 15% 0;
  position: relative;
  z-index: 1;
}

.header__name-title {
  margin: 0 0 7px 0;
  font-family: Georgia;
  font-size: 32.5px;
  text-align: center;
  letter-spacing: 1.95px;
  color: #f1cdb3;
}

.header__name-subtitle {
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
}

.menu {
  display: flex;
}
.menu li {
  margin: 0 0 0 30px;
}
.menu li a {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.93;
  color: #cdcdcd;
}
.menu li a:hover {
  border-bottom: 2px solid #f1cdb3;
  color: #fff;
}

.header__info {
  padding: 0 0 100px 0;
}

.header__main_text {
  max-width: 35%;
}

.header__title {
  font-family: Georgia;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 2.64px;
  margin: 0 0 30px 0;
  color: #ffffff;
}

.header_text {
  font-family: Arial;
  font-size: 15px;
  margin: 0 0 40px 0;
  color: #cdcdcd;
}

.header__btn {
  position: relative;
  font-family: Georgia;
  font-size: 17px;
  line-height: 3.35;
  letter-spacing: 1.02px;
  text-align: center;
  padding: 0 50px;
  border-radius: 30px;
  background-color: #f1cdb3;
  color: #292929;
  z-index: 2;
  transition-duration: 1s;
}
.header__btn:hover {
  box-shadow: 1px 1px 10px #fff;
  color: #fff;
  background-color: #746153;
}

.header__main_imag {
  box-sizing: border-box;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.header__main_imag img {
  width: 70%;
  height: 100%;
  max-width: 1200px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 0;
}

.about_shelter__box {
  padding: 80px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_shelter__item {
  flex: 1 1 50%;
  padding: 0 60px;
}

.about_shelter__image {
  height: 100%;
}

.about_shelter__info {
  padding: 30px 0;
}

.about_shelter__title {
  margin-bottom: 35px;
}

.about_shelter__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.6;
  color: #4c4c4c;
}
.about_shelter__text p {
  margin-bottom: 15px;
}

.title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: 2.1px;
  color: #545454;
}

.our_pets {
  background-color: #f6f6f6;
  padding: 75px 0 60px 0;
}

.our_pets__title {
  text-align: center;
  margin: 0 0 40px 0;
}

.our_pets__box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}

.our_pets__column {
  display: flex;
}

.our_pets__item {
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #fafafa;
}
.our_pets__item img {
  width: 100%;
}

.our_pets__subtitle {
  font-family: Georgia;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1.2px;
  text-align: center;
  color: #545454;
}

.our_pets__item_button {
  padding: 15px 40px;
  border: 2px solid #f1cdb3;
  text-align: center;
  border-radius: 30px;
  font-family: Georgia;
  font-size: 17px;
  letter-spacing: 1.02px;
  color: #292929;
  background-color: #fafafa;
  transition-duration: 1s;
}
.our_pets__item_button:hover {
  color: #292929;
  background-color: #f1cdb3;
}

.our_pets__btn_box {
  display: flex;
  justify-content: center;
}

.our_pets__btn {
  font-family: Georgia;
  font-size: 17px;
  line-height: 3.35;
  letter-spacing: 1.02px;
  text-align: center;
  padding: 0 50px;
  border-radius: 30px;
  background-color: #f1cdb3;
  color: #292929;
  transition-duration: 700ms;
}
.our_pets__btn:hover {
  box-shadow: 1px 1px 10px #bdb8b8;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  padding: 30px 0;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  position: relative;
  padding: 0 100px;
  margin: 0 0 60px 0;
}
.slider .our_pets__column {
  display: flex;
  min-width: 0;
  width: 90%;
  transition-duration: 1s;
}
.slider .our_pets__column:hover {
  box-shadow: 1px 1px 10px #bdb8b8;
}
.slider .our_pets__column:hover button {
  background-color: #f1d8c6;
}
.slider .our_pets__column:hover button:hover {
  box-shadow: 1px 1px 10px #bdb8b8;
}
.slider .slider__item {
  display: flex;
  justify-content: center;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 0;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  transition-duration: 700ms;
}
.slider .slick-arrow:hover {
  box-shadow: 1px 1px 10px #bdb8b8;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/long-left-arrow.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/long-right-arrow.svg") 0 0/100% no-repeat;
  transform: rotate(180deg);
}

.subtitle {
  font-family: Georgia;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1.2px;
  text-align: center;
  color: #545454;
}

.help {
  padding: 70px 10px 0;
}

.help__title {
  text-align: center;
  margin: 0 0 50px 0;
}

.help__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help__item {
  max-width: 20%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 70px 0;
}

.donation {
  background-color: #f6f6f6;
  padding: 80px 0;
}
.donation .container {
  max-width: 1000px;
}

.donation__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation__item {
  padding: 0 30px;
}
.donation__item:first-child {
  width: 57%;
}
.donation__item:last-child {
  width: 43%;
}

.donation__image img {
  width: 100%;
  height: 100%;
}

.donation__title {
  margin: 0 0 30px 0;
}

.donation_subtitle {
  font-family: Georgia;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #545454;
  margin: 0 0 10px 0;
}

.donation__button {
  margin: 0 0 30px 0;
  padding: 0 3% 0 55px;
  border-radius: 15px;
  background: url("../img/credit-card-1.png") 5% 50% no-repeat, #f1ceb4;
  font-family: TimesNewRomanPSMT;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1.2px;
  color: #292929;
  transition-duration: 700ms;
}
.donation__button:hover {
  box-shadow: 1px 1px 10px #bdb8b8;
}

.donation__text {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  color: #b2b2b2;
}

footer {
  padding: 75px 0 0;
  background: #322723;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #322723 0%, #222021 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#322723", endColorstr="#222021",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 33.333%;
  padding: 10px 0 70px;
  position: relative;
}
.footer__item:last-child {
  padding: 0;
}
.footer__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: contain;
}

.footer__title {
  margin: 0 0 35px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: 2.1px;
  color: #ffffff;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: TimesNewRomanPSMT;
  font-size: 20px;
  vertical-align: middle;
  letter-spacing: 1.2px;
  color: #f1cdb3;
}

.footer__mail {
  margin: 0 0 10px;
  padding: 1px 0 0 60px;
  height: 26px;
  background: url("../../img/envelope.png") 0 50% no-repeat;
}

.footer__phone {
  margin: 10px 0 0;
  padding: 7px 0 0 59px;
  height: 33px;
  background: url("../img/telephone.png") 0 50% no-repeat;
}

.footer__location {
  margin: 0 0 10px;
  padding: 0 0 0 59px;
  height: 39px;
  background: url("../img/pin.png") 0 50% no-repeat;
}
.footer__location:last-child {
  margin: 12px 0 0;
  padding: 11px 0 0 59px;
}

img {
  width: 100%;
  height: 100%;
}