@font-face {
  font-family: "arial";
  src: url("../fonts/arial.eot");
  src: local("☺"), url("../fonts/arial.woff") format("woff"),
    url("../fonts/arial.ttf") format("truetype"),
    url("../fonts/arial.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.eot");
  src: local("☺"), url("../fonts/georgia.woff") format("woff"),
    url("../fonts/georgia.ttf") format("truetype"),
    url("../fonts/georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "nullstyle.scss";

@import "header.scss";

header {
  padding: 30px 0 20px;
  .menu {
    a {
      color: #545454;
      &:hover {
        color: #000;
      }
    }
  }
}

.header__name-title,
.header__name-subtitle {
  color: #545454;
}

.header__box_1 {
  align-items: center;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 60px 0 30px;
  flex: 1 1 auto;
  background-color: #f6f6f6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  margin: 0 0 50px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: 2.1px;
  text-align: center;
  color: #545454;
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  padding: 15px;
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.pets_slider {
  .pets_slider_item {
    display: flex;
    justify-content: space-between;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-dots li {
    padding: 0 10px;
  }
  .slick-dots li button {
    background-color: #f6f6f6;
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .slick-dots li.slick-active button {
    background-color: #f1cdb3;
  }

  .our_pets__column {
    background-color: #fafafa;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    flex: 1 25%;
    width: 100%;

    transition-duration: 1s;
    &:hover {
      box-shadow: 1px 1px 10px #bdb8b8;
      button {
        background-color: #f1d8c6;
        &:hover {
          box-shadow: 1px 1px 10px #bdb8b8;
        }
      }
    }

    .our_pets__item {
      padding: 0 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //width: 100%;
      .our_pets__image {
        display: flex;
        //flex-grow: 1;
        //width: 100%;
        //height: 100%;
        img {
          //object-position: center;
          width: 100%;
          //height: 100%;
          //object-fit: cover;
        }
      }
    }

    .our_pets__subtitle {
      font-family: Georgia;
      font-size: 20px;
      line-height: 2.25;
      letter-spacing: 1.2px;
      text-align: center;
      color: #545454;
    }

    .our_pets__item_button {
      height: 40px;
      border: 2px solid #f1cdb3;
      text-align: center;
      border-radius: 30px;
      font-family: Georgia;
      font-size: 17px;
      letter-spacing: 1.02px;
      color: #292929;
      background-color: #fafafa;
      transition-duration: 1s;
      &:hover {
        color: #292929;
        background-color: #f1cdb3;
      }
      a {
        height: 100%;
        padding: 12px 25px;
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#5c5252, 0.64);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 1000ms;
  &:target {
    opacity: 1;
    visibility: visible;
    .popup__content {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  img {
    width: auto;
    height: 100%;
  }
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.popup__content {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #fff;
  color: #000;
  width: 1000px;
  height: 600px;
  position: relative;
  transition-duration: 1000ms;
  opacity: 0;
  transform: translate(-100%, 0);
  .popup__item {
    flex: 1;
    height: 100%;
    width: 100%;
    img {
      //width: 100%;
      height: 100%;
      padding: 25px;
    }
  }

  .popup__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    .our_pets__subtitle {
      font-size: 30px;
      line-height: 2.25;
      letter-spacing: 1.2px;
      text-align: center;
      color: #545454;
    }
    font-size: 20px;
  }
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}

@import "footer.scss";
