@font-face {
  font-family: "arial";
  src: url("../fonts/arial.eot");
  src: local("☺"), url("../fonts/arial.woff") format("woff"),
    url("../fonts/arial.ttf") format("truetype"),
    url("../fonts/arial.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.eot");
  src: local("☺"), url("../fonts/georgia.woff") format("woff"),
    url("../fonts/georgia.ttf") format("truetype"),
    url("../fonts/georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "nullstyle.scss";

// Блок шапки

body.lock {
  overflow: hidden;
}

header {
  position: relative;
  background: #322723; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #322723 0%,
    #222021 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #322723 0%,
    #222021 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #322723 0%,
    #222021 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322723', endColorstr='#222021',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.goup {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  //border: 1px solid #000;
  //border-radius: 50%;
  background: url("../img/goup.png") 50% / contain no-repeat;

  opacity: 0.1;
  transition-duration: 700ms;
  &:hover {
    opacity: 1;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__box_1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
  margin: 0 0 15% 0;
  position: relative;
  z-index: 1;
}

.header__name-title {
  margin: 0 0 7px 0;
  font-family: Georgia;
  font-size: 32.5px;
  text-align: center;
  letter-spacing: 1.95px;
  color: #f1cdb3;
}

.header__name-subtitle {
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
}

.menu {
  display: flex;
  li {
    margin: 0 0 0 30px;
    a {
      font-family: Arial;
      font-size: 15px;
      line-height: 1.93;
      color: #cdcdcd;
      &:hover {
        border-bottom: 2px solid #f1cdb3;
        color: #fff;
      }
    }
  }
}

.header__info {
  padding: 0 0 100px 0;
}

.header__main_text {
  max-width: 35%;
}

.header__title {
  font-family: Georgia;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 2.64px;
  margin: 0 0 30px 0;
  color: #ffffff;
}

.header_text {
  font-family: Arial;
  font-size: 15px;
  margin: 0 0 40px 0;
  color: #cdcdcd;
}

.header__btn {
  position: relative;
  font-family: Georgia;
  font-size: 17px;
  line-height: 3.35;
  letter-spacing: 1.02px;
  text-align: center;
  padding: 0 50px;
  border-radius: 30px;
  background-color: #f1cdb3;
  color: #292929;
  z-index: 2;
  transition-duration: 1s;
  &:hover {
    box-shadow: 1px 1px 10px #fff;
    color: #fff;
    background-color: #746153;
  }
}

.header__main_imag {
  box-sizing: border-box;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  img {
    width: 70%;
    height: 100%;
    max-width: 1200px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 0;
  }
}

// Блок с контентом

// О приюте

.about_shelter {
}

.about_shelter__box {
  padding: 80px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_shelter__item {
  flex: 1 1 50%;
  padding: 0 60px;
}

.about_shelter__image {
  height: 100%;
}

.about_shelter__info {
  padding: 30px 0;
}

.about_shelter__title {
  margin-bottom: 35px;
}

.about_shelter__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.6;
  color: #4c4c4c;
  p {
    margin-bottom: 15px;
  }
}

// Общий заголовок

.title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: 2.1px;
  color: #545454;
}

// Наши питомцы

.our_pets {
  background-color: #f6f6f6;
  padding: 75px 0 60px 0;
}

.our_pets__title {
  text-align: center;
  margin: 0 0 40px 0;
}

.our_pets__box {
  display: flex;
  justify-content: space-between;
  //margin: 0 0 60px 0;
}

.our_pets__subtitle {
  font-family: Georgia;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1.2px;
  text-align: center;
  color: #545454;
}

.our_pets__item_button {
  height: 40px;
  border: 2px solid #f1cdb3;
  text-align: center;
  border-radius: 30px;
  font-family: Georgia;
  font-size: 17px;
  letter-spacing: 1.02px;
  color: #292929;
  background-color: #fafafa;
  transition-duration: 1s;
  &:hover {
    color: #292929;
    background-color: #f1cdb3;
  }
  a {
    height: 100%;
    padding: 12px 12px;
    @media (min-width: 910px) {
      padding: 12px 40px;
    }
  }
}

.our_pets__btn_box {
  display: flex;
  justify-content: center;
}

.our_pets__btn {
  font-family: Georgia;
  font-size: 17px;
  line-height: 3.35;
  letter-spacing: 1.02px;
  text-align: center;
  padding: 0 50px;
  border-radius: 30px;
  background-color: #f1cdb3;
  color: #292929;
  transition-duration: 700ms;
  &:hover {
    box-shadow: 1px 1px 10px #bdb8b8;
  }
}

// слайдер slick

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  padding: 30px 0;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
  position: relative;
  padding: 0 100px;
  margin: 0 0 60px 0;
  .our_pets__column {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0 20px;
    background-color: #fafafa;

    &:hover {
      box-shadow: 1px 1px 5px #bdb8b8;
    }
    .our_pets__item {
      padding: 0 0 40px 0;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .our_pets__image {
        flex-grow: 1;
        img {
          flex-grow: 1;
          width: 100%;
        }
      }
      button {
        background-color: #f1d8c6;
        &:hover {
          box-shadow: 1px 1px 10px #bdb8b8;
        }
      }
    }
  }
  .slider__item {
    display: flex;
    justify-content: center;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 0;
    border: 2px solid #f1cdb3;
    border-radius: 50%;
    transition-duration: 700ms;
    &:hover {
      box-shadow: 1px 1px 10px #bdb8b8;
      background-color: #f1cdb3;
    }
    &.slick-prev {
      left: 0;
      background: url("../img/long-left-arrow.svg") 0 0/ 100% no-repeat;
      &:hover {
        background: url("../img/long-left-arrow.svg") 0 0/ 100% no-repeat,
          #f1cdb3;
      }
    }
    &.slick-next {
      right: 0;
      background: url("../img/long-right-arrow.svg") 0 0/ 100% no-repeat;
      transform: rotate(180deg);
      &:hover {
        background: url("../img/long-right-arrow.svg") 0 0/ 100% no-repeat,
          #f1cdb3;
      }
    }
  }
}

.subtitle {
  font-family: Georgia;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1.2px;
  text-align: center;
  color: #545454;
}

.help {
  padding: 70px 10px 0;
}

.container {
}

.help__title {
  text-align: center;
  margin: 0 0 50px 0;
}

.title {
}

.help__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help__item {
  max-width: 20%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 70px 0;
}

.donation {
  background-color: #f6f6f6;
  padding: 80px 0;
  .container {
    max-width: 1000px;
  }
}

.donation__row {
  display: flex;

  justify-content: center;
  align-items: center;
}

.donation__item {
  padding: 0 30px;
  &:first-child {
    width: 57%;
  }
  &:last-child {
    width: 43%;
  }
  //flex: 1 1 50%;
}

.donation__image {
  img {
    width: 100%;
    height: 100%;
  }
}

.donation__title {
  margin: 0 0 30px 0;
}

.donation_subtitle {
  font-family: Georgia;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #545454;
  margin: 0 0 10px 0;
}

.donation__button {
  margin: 0 0 30px 0;
  padding: 5px 10px 5px 55px;
  font-size: 17px;
  border-radius: 15px;
  background: url("../img/credit-card-1.png") 5% 50% no-repeat, #f1ceb4;
  font-family: TimesNewRomanPSMT;
  line-height: 2;
  letter-spacing: 1.2px;
  color: #292929;
  transition-duration: 700ms;
  &:hover {
    box-shadow: 1px 1px 10px #bdb8b8;
  }
}

.donation__text {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  color: #b2b2b2;
}

footer {
  padding: 75px 0 0;
  background: #322723; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #322723 0%,
    #222021 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #322723 0%,
    #222021 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #322723 0%,
    #222021 100%
  ); /* W3C, IE10+, FF1fixpopup6+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322723', endColorstr='#222021',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .container {
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 33.333%;
  padding: 10px 0 70px;
  position: relative;
  &:last-child {
    padding: 0;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: contain;
  }
}

.footer__title {
  margin: 0 0 35px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: 2.1px;
  color: #ffffff;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: TimesNewRomanPSMT;
  font-size: 20px;
  vertical-align: middle;
  letter-spacing: 1.2px;
  color: #f1cdb3;
}

.footer__mail {
  margin: 0 0 10px;
  padding: 1px 0 0 60px;
  height: 26px;
  background: url("../img/envelope.png") 0 50% no-repeat;
}

.footer__phone {
  margin: 10px 0 0;
  padding: 7px 0 0 59px;
  height: 33px;
  background: url("../img/telephone.png") 0 50% no-repeat;
}

.footer__location {
  margin: 0 0 10px;
  padding: 0 0 0 59px;
  height: 39px;
  background: url("../img/pin.png") 0 50% no-repeat;
  &:last-child {
    margin: 12px 0 0;
    padding: 11px 0 0 59px;
  }
}

img {
  //width: 100%;
  height: 100%;
}

// Стили ПопАпа

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#3b3535, 0.64);
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.6s ease 0s;
  &:target {
    opacity: 1;
    visibility: visible;
    z-index: 15;
    .popup__content {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.popup__content {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #fff;
  color: #000;
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translate(0, -100%);
  transition: all 0.6s ease 0s;

  .popup__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: hidden;
    p {
      line-height: 1.2;
      letter-spacing: 1px;
    }
    .our_pets__subtitle {
      font-size: 20px;
    }

    font-size: 15px;
  }
  .popup__close {
    width: 20px;
    position: absolute;

    top: 10px;
    right: 10px;
    font-size: 25px;

    img {
      width: 100%;
    }
  }

  .popup__item {
    padding: 10px;
    width: 50%;
    img {
      width: 100%;
    }
  }
}
